<div class="container">
  <mat-form-field class="full-width"
                  *ngIf="selectedChips.length">
    <mat-chip-list>
      <mat-chip color="primary"
                selected
                *ngFor="let chip of selectedChips">{{chip.label}}
        <mat-icon matChipRemove
                  (click)="onRemoveChipClick(chip)">cancel
        </mat-icon>
      </mat-chip>
    </mat-chip-list>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input type="text"
           [placeholder]="placeholder"
           matInput
           [formControl]="filter"
           [matAutocomplete]="auto"
           (focusout)="onFocusOut($event)">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let chip of chips"
                  [value]="chip"
                  (click)="onAutocompleteClick(chip)">
        {{chip.label}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
