<div class="form-wrapper">
  <form class="form p-30"
        [formGroup]="loginForm">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>登陆</h3>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput
                 type="text"
                 placeholder="邮箱"
                 formControlName="email">
          <mat-error *ngIf="email.invalid && email.touched"
                     class="error-msg">
            <div *ngIf="email.errors.required">需要一个邮箱地址</div>
            <div *ngIf="email.errors.email">邮箱地址不合法</div>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput
                 type="password"
                 placeholder="密码"
                 formControlName="password">
          <mat-error *ngIf="password.invalid && password.touched"
                     class="error-msg">
            <div *ngIf="password.errors.required">请输入您的的密码</div>
          </mat-error>
        </mat-form-field>
        <div class="text-center login-btn-wrapper">
          <button class="login-btn"
                  color="primary"
                  mat-raised-button
                  type="submit"
                  (click)="onSubmit()">
            <ng-container *ngIf="isLogging$ | async; else elseTemplate">
              <mat-spinner color="accent"
                           [diameter]="24"></mat-spinner>
            </ng-container>
            <ng-template #elseTemplate>
              登陆
            </ng-template>
          </button>
        </div>
      </mat-card-content>
      <mat-card-actions class="text-center">
        <p>还没有账户？<a routerLink="/register">注册</a></p>
        <!-- <p>忘记密码？<a href="">找回</a></p> -->
      </mat-card-actions>
    </mat-card>
  </form>
</div>
