<div class="container"
     [@listAnim]="(projects$ | async)?.length">
  <app-project-item *ngFor="let project of (projects$ | async)"
                    [item]="project"
                    class="card"
                    (invite)="openInviteDialog(project)"
                    (editProject)="openEditProjectDialog(project)"
                    (deleteProject)="openDeleteProjectDialog(project)"
                    (click)="onProjectClick(project)">
  </app-project-item>
</div>

<button mat-fab
        class="fab-button"
        (click)="openNewProjectDialog()">
  <mat-icon>add</mat-icon>
</button>
