.card {
	flex: 0 0 360px;
	margin: 10px;
}

.container {
	display: flex;
	flex-wrap: wrap;
}

.fab-button {
	position: fixed;
	bottom: 96px;
	right: 32px;
	z-index: 990;
}

app-project-item:hover {
	cursor: pointer;
}
