.list-container {
  box-sizing: border-box;
}

.card {
  flex: 0 0 360px;
  margin: 10px;
}

.fab-button {
  position: fixed;
  bottom: 96px;
  right: 32px;
  z-index: 990;
}

.fab-button-mobile {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 990;
}

app-project-item:hover {
  cursor: pointer;
}
