.container {
  width: 100%;
  height: 100%;
}

.fab-button {
  position: fixed;
  bottom: 96px;
  right: 32px;
  z-index: 990;
}

.fab-button-mobile {
  position: fixed;
  bottom: 32px;
  right: 32px;
  z-index: 990;
}

.task-lists {
  display: flex;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.list-container {
  overflow-x: hidden;
  overflow-y: scroll;
}

.drag-enter {
  background: rgb(128, 128, 128);
}

.mat-list {
  padding-top: 0px;
}

.spinner-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.drag-start {
  opacity: 0.5;
  border: 2px dashed red;
}

.no-tasks {
  color: rgb(128, 128, 128);
}

.no-tasks-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-link {
  color: #4052b2;
}
