<div class="form-wrapper">
  <!-- <div>
    registerForm.controls['email'].invalid{{registerForm.controls['email'].invalid}} <br>
    registerForm.controls['email'].touched {{registerForm.controls['email'].touched}}
  </div> -->
  <form class="form"
        [formGroup]="registerForm">
    <mat-card>
      <mat-tab-group>
        <mat-tab label="账号信息">
          <mat-card-content class="pt-10">
            <mat-form-field class="full-width">
              <input type="text"
                     matInput
                     placeholder="昵称"
                     formControlName="name">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput
                     type="text"
                     placeholder="邮箱"
                     formControlName="email">
              <mat-error *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched">
                <div *ngIf="registerForm.controls['email'].errors.required">请输入邮箱</div>
                <div *ngIf="registerForm.controls['email'].errors.email">邮箱地址不合法</div>
              </mat-error>
            </mat-form-field>
            <ng-container formGroupName="passwordGroup">
              <mat-form-field class="full-width">
                <input matInput
                       type="password"
                       placeholder="密码"
                       formControlName="password">
                <mat-error *ngIf="registerForm.get('passwordGroup.password').invalid && registerForm.get('passwordGroup.password').touched">
                  <div [hidden]="!registerForm.get('passwordGroup.password').errors.required">
                    密码不能为空
                  </div>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="full-width">
                <input matInput
                       type="password"
                       placeholder="再次输入密码"
                       formControlName="repassword"
                       [errorStateMatcher]="repasswordMatcher">
                <mat-error *ngIf="registerForm.get('passwordGroup').invalid || registerForm.get('passwordGroup.repassword').invalid && registerForm.get('passwordGroup.repassword').touched">
                  <div *ngIf="registerForm.get('passwordGroup.repassword').invalid">请再次输入密码确认</div>
                  <div *ngIf="registerForm.get('passwordGroup').invalid">两次密码不一致</div>
                </mat-error>
              </mat-form-field>
            </ng-container>


          </mat-card-content>

          <app-image-selector [useSvgIcon]="true"
                              [cols]="7"
                              [rowHeight]="'1:1'"
                              [title]="'选择你的头像：'"
                              [itemWidth]="'64px'"
                              [items]="items"
                              formControlName="avatar">
          </app-image-selector>
          <mat-card-actions class="text-center">
            <p>已经注册了？<a routerLink="/login">登陆</a></p>
            <p>忘记密码？<a href="">找回</a></p>
          </mat-card-actions>
        </mat-tab>
        <mat-tab label="个人信息">
          <mat-card-content class="pt-10">
            <app-certificate-selector #certificateSelector
                                      formControlName="certificate"></app-certificate-selector>
            <app-age-input formControlName="age"></app-age-input>
            <app-address-selector #addressSelector
                                  formControlName="address"></app-address-selector>
          </mat-card-content>
          <div class="text-center pb-20 register-btn-container">
            <button class="register-btn"
                    mat-raised-button
                    type="button"
                    (click)="onRegisterClick(certificateSelector, addressSelector)">
              <ng-container *ngIf="isRegistering$ | async; else elseTemplate">
                <mat-spinner [diameter]="24"></mat-spinner>
              </ng-container>
              <ng-template #elseTemplate>
                注册
              </ng-template>
            </button>
          </div>
          <mat-card-actions class="text-center">
            <p>已经注册了？<a routerLink="/login">登陆</a></p>
            <p>忘记密码？<a href="">找回</a></p>
          </mat-card-actions>
        </mat-tab>
      </mat-tab-group>
    </mat-card>
  </form>
</div>
