// For angular calendar
@import '~bootstrap/dist/css/bootstrap.css';
@import '../../../styles/bootstrap-journal.theme.css';

h3 {
  margin: 0 0 10px;
}

pre {
  background-color: #f5f5f5;
  padding: 15px;
}
