<form>
  <h1 mat-dialog-title>移动本列表所有内容</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-select placeholder="请选择目标列表" name="item">
        <mat-option *ngFor="let list of lists" [value]="list.id">
          {{list.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" type="button">保存</button>
    <button mat-button (click)="closeDialog()" type="button">关闭</button>
  </div>
</form>