<form>
  <h1 mat-dialog-title>编辑项目</h1>
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <input matInput placeholder="项目名称" [value]="project.name">
    </mat-form-field>
    <mat-form-field class="full-width">
      <input matInput placeholder="项目描述" [value]="project.desc">
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="save()" type="button">保存</button>
    <button mat-button (click)="closeDialog()" type="button">关闭</button>
  </div>
</form>