mat-slide-toggle {
  font-size: 14px;
}

.user-avatar-container {
  font-size: 14px;
}

.user-avatar-container:hover .account,
.name {
  cursor: pointer;
}

.account .mat-icon {
  transform: scale(1.5);
}

.user-avatar {
  overflow: hidden;
  border-radius: 50%;
}
