<form>
  <h1 mat-dialog-title>邀请组员</h1>
  <div mat-dialog-content>
    <app-chip-selector [placeholder]="'输入 email 搜索成员'"
                       [existChips]="existChips"
                       [candidateChips]="searchedMemberChips"
                       [formControl]="members"
                       (filterChange)="onFilterChange($event)">
    </app-chip-selector>
  </div>
  <div mat-dialog-actions>
    <button mat-raised-button
            color="primary"
            (click)="save()"
            type="button">保存</button>
    <button mat-button
            (click)="close()"
            type="button">关闭</button>
  </div>
</form>
