<form [formGroup]="form">
  <mat-form-field>
    <mat-select placeholder="请输入省份"
                formControlName="province">
      <mat-option *ngFor="let province of provinces"
                  [value]="province"
                  (focusout)="onFocusOut()">
        {{province}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="请输入城市"
                formControlName="city">
      <mat-option *ngFor="let city of cities"
                  [value]="city">
        {{city}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-select placeholder="请输入区县"
                formControlName="district">
      <mat-option *ngFor="let district of districts"
                  [value]="district">
        {{district}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</form>