/* You can add global styles to this file, and also import other style files */
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~material-design-icons-iconfont/dist/material-design-icons.css';
@import 'styles/text.scss';
@import 'styles/spacing.scss';
@import 'styles/theme.scss';

// For angular calendar
@import '~angular-calendar/scss/angular-calendar.scss';
@import '~flatpickr/dist/flatpickr.css';

html,
body,
app-root,
mat-sidenav-container,
.site {
  width: 100%;
  height: 100%;
  margin: 0;
}

.site {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

.form-wrapper .mat-tab-body-content {
  overflow: unset !important;
}
