mat-icon.avatar {
  overflow: hidden;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.selected-container mat-icon {
  overflow: hidden;
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.scroll-container {
  overflow-y: scroll;
  height: 128px;
}

.image-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dimmer-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.image-container .dimmer {
  display: none;
}

.image-container.selected .dimmer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
}

.image-container:hover .dimmer {
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.image-container:not(.selected):hover .dimmer.mobile {
  display: none;
}

.image-container.selected:hover .dimmer.mobile {
  background-color: rgba(0, 0, 0, 0.5);
}

.dimmer mat-icon {
  color: white;
}

.preview {
  width: 150px;
}
